body {
    font: 1.25em/1.35 "Fanwood Text", serif;
    color: #444;
    background-color: #ece8e8;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 800px;
}

header {
    text-align: center;
    margin-top: 200px;
}

section {
    padding-left: 18px;
    padding-right: 18px;
}

header > h1 {
    font: 2em "Old Standard TT", serif;
}

p {
    margin: 0;
    text-align: justify;
}

p + p {
    text-indent: 1.2em;
    margin-top: 0.5em;
}

.sep {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    color: #ccc;
}

.sc {
    font-variant: small-caps;
}
