@font-face {
    font-family: 'Crimson';
    src: url('fonts/crimson-roman.eot');
    src: url('fonts/crimson-roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson-roman.woff') format('woff'),
         url('fonts/crimson-roman.ttf') format('truetype'),
         url('fonts/crimson-roman.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('fonts/crimson-italic.eot');
    src: url('fonts/crimson-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson-italic.woff') format('woff'),
         url('fonts/crimson-italic.ttf') format('truetype'),
         url('fonts/crimson-italic.svg#CrimsonItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@media (min-width: 320px) {
    nav > a + a {
        margin-left: 4em;
    }

    span#name {
        font: 64px "Lato", serif;
        margin-top: 100px;
    }

    section, nav, div#post {
        font: 18px/1.35 "Crimson", serif;
        margin-left: 1em;
        margin-right: 1em;
    }

    code {
        font: 16px/1.35 "Inconsolata", monospace;
    }
}

@media (min-width: 1024px) {
    nav > a + a {
        margin-left: 8em;
    }

    span#name {
        font: 80px "Lato", serif;
        margin-top: 200px;
    }

    section, nav, div#post {
        font: 18px/1.35 "Crimson", serif;
    }

    code {
        font: 16px/1.35 "Inconsolata", monospace;
    }
}

body {
    -webkit-text-size-adjust: none;
    color: #444;
    background-color: #ece8e8;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

img {
    border: none;
}

span#name {
    text-transform: lowercase;
    font-variant: small-caps;
    display: block;
    text-align: center;
    margin-bottom: 0;
}

img#seal {
    float: right;
    display: block;
    height: 3em;
    width: 3em;
}

section > h1 {
    color: #333;
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 0.55em;
    margin-bottom: 0;
}

section > h1:before {
    padding-right: 0.5em;
    content: '❧';
}

div#post > h1 {
    color: #333;
    font-size: 1.6em;
    font-weight: normal;
    font-style: italic;
    margin-top: 0.55em;
    margin-bottom: 0.45em;
}

div#post > h2 {
    color: #333;
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

div#post > h2:before {
    padding-right: 0.5em;
    font-style: normal;
    content: '❧';
}

article > h1 {
    color: black;
    font-size: 1.15em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}

article > h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding-left: 1em;
}

ul {
    list-style: square;
    margin: 0;
    padding-left: 1.25em;
}

li {
    margin-top: 0.25em;
}

p {
    margin: 0;
}

p + p {
    margin-top: 0.5em;
}

section {
    display: block;
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
}

nav {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: black;
    outline: none;
    font-style: italic;
    text-decoration: none;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

a:hover {
    outline: none;
    color: #0087ff;
}

a:active {
    outline: none;
    color: #0087ff;
}

#date {
    clear: both;
    font-family: 'Crimson', serif;
    display: block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: small;
    color: #ccc;
}

span.sc {
  text-transform: lowercase;
  font-variant: small-caps;
}

span.amp {
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    position: relative;
    top: 0.1em;
}

hr.sep {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    text-align: center;
    color: #333;
    width: 60%;
}

hr {
    display: block;
    height: 1px;
    width: 80%;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em auto;
    padding: 0;
}

div.highlight {
    margin-left: 1.5em;
}

pre.sparse {
    margin-left: 1.5em;
    font: 16px/1.1 "Inconsolata", monospace;
}

pre.dense {
    margin-left: 1.5em;
    font: 16px/1 "Inconsolata", monospace;
}

span.button {
    cursor: pointer;
    text-transform: lowercase;
    font-family: "Lato", serif;
    font-weight: bold;
    font-variant: small-caps;
    color: #ece8e8;
    background-color: #444;
    border: 1px solid #444;
    border-radius: 3px;
    padding: 0.4em 0.9em 0.4em 0.9em;
    margin-right: 1em;
}

span.button:active {
    position: relative;
    top: 2px;
    left: 2px;
}

div.measurement {
    margin-left: 1.5em;
}

span.output {
    font-size: 1.35em;
}

.faded {
    opacity: 0.05;
}
