<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Shu-yu Guo">
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <span id="name">{{ page.title }}</span>

    {{ content }}

    <footer id="date">{{ site.time | date: "%Y-%m-%d" }}</footer>
  </body>
</html>
